testdata/repository-a.git/objects/*/* ignore-lint=true
testdata/repository.git/objects/*/* ignore-lint=true
version.txt linguist-generated=true
zz_filesystem_generated.go linguist-generated=true
docker/zz_close_guarding_client_generated.go linguist-generated=true

