# Project
/func
/func_*
/cmd/func.yaml
/templates/go/cloudevents/go.sum
/templates/go/http/go.sum
/templates/typescript/cloudevents/build
/templates/typescript/http/build
/coverage.out
/bin
/target

# Nodejs
node_modules

# Python
__pycache__

# VSCode
.vscode

# IntelliJ
.idea

# Operating system temporary files
.DS_Store

# Non relevant vendor files
BUILD.bazel
OWNERS
OWNERS_ALIASES