# Project
/func
/func_*
/cmd/func.yaml
/templates/typescript/cloudevents/build
/templates/typescript/http/build
/coverage.out
/coverage.txt
/.coverage
/bin
/target
/hack/bin
/.artifacts

/e2e/testdata/default_home/go
/e2e/testdata/default_home/.cache

/pkg/functions/testdata/migrations/*/.gitignore

# Nodejs
node_modules

# Python
__pycache__

# VSCode
.vscode

# IntelliJ
.idea

# Operating system temporary files
.DS_Store
