name: Func E2E OnCluster RT Test

on: [pull_request]

jobs:
  test:
    name: On Cluster RT Test
    strategy:
      matrix:
        go: [1.18.x]
        os: ["ubuntu-latest"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}
      - name: Install Binaries
        run: ./hack/binaries.sh
      - name: Allocate Cluster
        run: ./hack/allocate.sh
      - name: Deploy Tekton
        run: ./hack/tekton.sh
      - name: Deploy Test Git Server
        run: ./test/gitserver.sh
      - name: E2E On Cluster Test (Runtimes)
        env:
          TEST_TAGS: runtime
        run: make && make test-e2e-on-cluster
