name: Update builder-jammy-full image

on:
  schedule:
    - cron: '0 */4 * * *'

jobs:
  build-and-push-image:
    permissions:
      contents: read
      packages: write
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v4
      - uses: knative/actions/setup-go@main
      - name: Build and Push
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: make wf-update-builder
